:root {
  --base: #ffc600;
  --spacing: 10px;
  --blur: 10px;
}

/* 문서의 루트 요소 선택
   HTML에서는 <html>  즉 :root는 <html>을 가리킨다.*/

img {
  padding: var(--spacing);
  background: var(--base);
  filter: blur(var(--blur));
}
