/* 자주 쓰이는 것들을 변수로 지정해놓아서 사용한다.
---------utility------- */

:root {
  /* CSS 변수선언 : 이런 변수를 사용할때는 사용하고자 하는 선택자에다가 
  속성 : var(변수명)으로사용한다. */

  /* Color 디자인 책에서 정의하길 너무 흰색과 검은색은 사용자에게 좋지 못하므로 톤다운된것을 사용한다. 그래서 일일이 찾아서 사용하는것이 아닌 자주사용하는 색을 변수로 만들어서 사용한다.*/

  --white-color: #fff;
  --black-color: #140a00;
  --blue-color: #045fd4;
  --red-color: #ff0000;
  --grey-dark-color: #909090;
  --grey-light-color: #e0e0e0;
  /* Size */
  --side-padding: 12px;
  --avatar-size: 36px;

  /* Font Size */
  --font-large: 18px;
  --font-medium: 14px;
  --font-small: 12px;
  --font-micro: 10px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Roboto;
}

ul {
  list-style: none;
}

button,
button:focus {
  border: none;
  cursor: pointer;
  outline: none;
}

/* Header */

header {
  display: flex;
  justify-content: space-between;
  padding: var(--side-padding);
  background-color: var(--black-color);
  color: var(--white-color);
}

header .logo {
  font-size: var(--font-large);
}

header .logo i {
  color: var(--red-color);
}

header .icons .fa-search {
  margin-right: var(--side-padding);
}

/* Video Player */

.player {
  position: sticky;
  top: 0;
  text-align: center;
  background-color: var(--black-color);
}

.player video {
  width: 100%;
  height: 300px;
  max-width: 1000px;
}

body > .info {
  padding: var(--side-padding);
}

.info .metadata .hashtags {
  display: flex;
  font-size: var(--font-small);
  color: var(--blue-color);
}

.info .metadata .hashtags li {
  margin-right: var(--side-padding);
}

.info .metadata .titleAndButton {
  display: flex;
}

.info .metadata .titleAndButton .title {
  font-size: var(--font-medium);
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  margin-right: var(--side-padding);
}
.info .metadata .titleAndButton .moreBtn {
  height: 100%;
}

.info .views {
  font-size: var(--font-small);
  color: var(--grey-dark-color);
}

/* Acrion Buttons */

.info .actions {
  display: flex;
  justify-content: space-around;
  margin: var(--side-padding) 0;
}
.info .actions button {
  display: flex;
  flex-direction: column;
  font-size: var(--font-small);
  color: var(--grey-dark-color);
}
.info .actions button i {
  margin: 0 auto;
  /* .actions button에 align-items :center 와 동일한 값 */
  margin-bottom: calc(var(--side-padding) / 2);
  /* 위에 margin 0 을 쓰면 margin-top:  과 margin-bottom: 이 0 아닌가? 
  노노 뒤에 나온 margin-bottom: 이 오버라이딩 하기 때문에 0이 아니게 된다.; */
  font-size: 16px;
}
.info .actions button i.active {
  color: var(--blue-color);
}

/* Channel Description */

.info .channal {
  display: flex;
  justify-content: space-between;
  border-top: 1px solide var(--grey-light-color);
  border-bottom: 1px solide var(--grey-light-color);
}
.info .channal .metadata {
  display: flex;
  align-items: center;
}

.info .channal .metadata .info {
  display: flex;
  flex-direction: column;
}

.info .channal .metadata img {
  width: var(--avatar-size);
  height: var(--avatar-size);
  border-radius: 50%;
}

.info .channal .metadata .info .name {
  font-size: var(--font-medium);
}

.info .channal .metadata .info .subscribers {
  font-size: var(--font-small);
  color: var(--grey-dark-color);
}

.info .channal .subscribe {
  text-transform: uppercase;
  color: var(--red-color);
  font-size: var(--font-medium);
}

/* up NEXT */

.UpNext {
  padding: 0 var(--side-padding);
}

.UpNext > .title {
  font-size: var(--font-medium);
  color: var(--grey-dark-color);
  margin-bottom: calc(var(--side-padding) / 2);
}

.UpNext .item {
  display: flex;
}

.UpNext .item .img {
  flex: 1 1 35%;
}

.UpNext .item .info {
  display: flex;
  flex: 1 1 60%;
  flex-direction: column;
}

.UpNext .item .moreBtn {
  flex: 1 1 5%;
}
.UpNext .item .img img {
  width: 100%;
  height: 300px;
}

.UpNext .item .info .title {
  font-size: var(--font-small);
}

.UpNext .item .info .name,
.UpNext .item .info .views {
  font-size: var(--font-micro);
  color: var(--grey-dark-color);
}

.infoAndUpNext {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .infoAndUpNext {
    flex-direction: row;
    margin: var(--side-padding) 0;
  }
}
