* {
  box-sizing: content-box;
}

.box1 {
  width: 700px;
  height: 700px;
  margin: 100px auto;
  background-color: gray;
}

.box2 {
  width: 100px;
  margin-left: 100px;
  background-color: blue;
}
