* {
  box-sizing: content-box;
}

.box1 {
  width: 700px;
  height: 700px;
  margin: 100px auto;
  background-color: gray;
  position: relative;
}

.box2 {
  position: absolute;
  background-color: red;
}
