* {
  box-sizing: border-box;
  margin: 0;
}

.parent {
  display: flex;
  flex-direction: row;
  width: 400px;
  flex-wrap: wrap;
  height: 900px;
  background-color: gray;
}

.child {
  width: 200px;
  height: 200px;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.red {
  background-color: red;
}
