* {
  box-sizing: border-box;
  margin: 0;
}

.parent {
  width: 400px;
  height: 900px;
}

.child {
  background-color: blue;
  width: 200px;
  height: 200px;
  background-image: url("/assets/images/yosup.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
