* {
  box-sizing: border-box;
}

.parent {
  width: 200px;
  margin: 0 auto;
  background-color: gray;
}

.child {
  width: 200px;
  height: 200px;
  font-size: 5px;
  font-weight: bold;
  text-align: center;
  color: white;
}

.red {
  background-color: red;
  float: left;
}

.blue {
  background-color: blue;
  float: left;
}

.yellow {
  background-color: yellow;
  float: left;
}
