/* layout */
.l_wrapper {
  max-width: 980px;
  margin: 0 auto;
}

.l_sidebar {
  width: 300px;
  float: right;
  background-color: orange;
}
/* float가 적용될 요소는 마크업상 상단에 위치해야한다. */

.l_main {
  overflow: hidden;
  border: 10px solid red;

  /* overflow를 할때 왜 이 모양이 나오는지 모르겠다. */
}

/* components */

.contents {
  padding: 40px 0;
}
