* {
  margin: 0;
  box-sizing: border-box;
}
body {
  background-image: url(/assets/images/practice/lecture/bg.png);
  color: gray;
}
.rd-only {
  display: none;
}

.wrapper {
  width: 1200px;
  margin: 0 auto;
}

.lecture {
  float: left;
  width: 900px;
}

.lecture .intro {
  width: auto;
  background-image: url(/assets/images/practice/lecture/cover.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 200px;
  padding: 25px 25px;
}

.intro .intro_title {
  width: 700px;
  float: left;
}

.intro .intro_title h1 {
  color: white;
  font-size: 37px;
}

.intro .intro_img {
  float: left;
  width: 100px;
  margin-left: 50px;
  color: white;
}

.intro .intro_img img {
  border-radius: 50%;
  width: 60px;
  height: 60px;
}

.intro .intro_title strong {
  font-size: 18px;
}

.intro img {
  display: block;
}

.intro::after {
  content: " ";
  display: block;
  clear: both;
}

.intro .lecture .curriculum {
  width: 100%;
  background-color: red;
}
.wrapper::after {
  content: " ";
  display: block;
  clear: both;
}

.curriculum {
  margin-top: 15px;
}
.curriculum h1 {
  padding: 15px 0px 15px 15px;
  color: white;
}

.curriculum section {
  padding: 15px 0px 15px 15px;
}

.wrapper .curriculum {
  background-color: black;
}

.curriculum ul {
  list-style-type: none;
  padding: 0;
}

.curriculum .box {
  background-color: #3c3d3c;
  border-radius: 5px;
  height: 140px;
  margin-top: 15px;
}

.box h2 {
  font-weight: 400;
  font-size: 15px;
  color: white;
}

.curriculum .innerbox {
  background-color: black;
  margin: 15px 15px;
  height: 85px;
  border-radius: 5px;
}

.wrapper .payment {
  width: 300px;
  height: 626px;
  float: left;
  background-color: black;
}
